.App {
  text-align: center;
}


.App-header {
  /* background-color: rgb(250, 92, 0); */
  background-image: -webkit-image-set('red-texture.jpg');
  background-size: 150%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.prompt {
  color: rgb(20, 44, 252);  
  -webkit-text-stroke: 5px rgb(255, 255, 255);
  paint-order: stroke fill;
  font-size: 2em;
  margin-bottom: 10px;
}

